
.card{
  max-width: 300px;
  margin:auto;
  text-align: center;
  border: 1px solid;
  border-color: lightblue;
}
.card-text {
  justify-content: flex-end;
}

h6 {
  background-color: gray;
  color: yellow;
  text-align: left;
}
h2 {
  font-weight: bold;
  font-size: small;
}

h3 {
  font-display: bold;
  font-size: small;
}

.ul {
  font-weight: 700;
}
.float-container {
  border: 3px solid #fff;
  padding: 2px;
}

.float-child {
  width: 15%;
  float: left;
  padding: 20px;
  border: 4px solid palevioletred;
} 
